{% extends 'base.html.twig' %}

{% block body %}
    h4><strong>Изменить информацию об авторе</strong></h4>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>
    <br>
    <div class="well well">
        <h4><strong>Дополнительная информация</strong></h4>
        <br>
        <div class="alert alert-success" role="alert">
            <b>Для удобства текущая информация об авторе уже внесена в поля.</b>
        </div>
    </div>
{% endblock %}