{% extends 'base.html.twig' %}

{% block body %}
    <h3>Произведения в каталоге</h3>
    <br>

    <a href="/book/create" class="btn btn-success">Добавить произведение</a>
    <br>
    <br>

    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Поиск произведения">
        <a href="/book/index/1" class="btn btn-default">Поиск</a>
    </form>

    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Количество страниц</th>
                <th>Год публикации</th>
                <th>ISBN</th>
                <th>Изображение</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>1</td>
                <td>Изображение</td>
                <td>
                    <a href="/book/index/1" class="btn btn-info">К произведению</a>
                    <a href="/book/edit/1" class="btn btn-warning">Изменить</a>
                    <a href="/book/remove/1" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>1</td>
                <td>Изображение</td>
                <td>
                    <a href="/book/index/1" class="btn btn-info">К произведению</a>
                    <a href="/book/edit/1" class="btn btn-warning">Изменить</a>
                    <a href="/book/remove/1" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>1</td>
                <td>Изображение</td>
                <td>
                    <a href="/book/index/1" class="btn btn-info">К произведению</a>
                    <a href="/book/edit/1" class="btn btn-warning">Изменить</a>
                    <a href="/book/remove/1" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}